-
  var sideNavigationList = {
    'Home': {
      title: 'HTML and CSS',
      linkList: [
        {label: 'Learn HTML', link: '/html'},
        {label: 'Learn CSS', link: '/css'},
        {label: 'Learn JavaScript', link: '/javascript'}
      ]
    },
    'HTML': {
      title: 'HTML Tutorial',
      linkList: [
        {label: 'HTML Elements', link: '/html/elements'},
        {label: 'HTML Headings', link: '/html/headings'},
        {label: 'HTML Paragraphs', link: '/html/paragraphs'},
      ]
    },
    'CSS': {
      title: 'CSS Tutorial',
      linkList: [
        {label: 'CSS Backgrounds', link: '/css/backgrounds'},
        {label: 'CSS Borders', link: '/css/borders'},
        {label: 'CSS Margins', link: '/css/margins'},
      ]
    },
    'JavaScript': {
      title: 'JavaScript Tutorial',
      linkList: [
        {label: 'JavaScript HTML', link: '/javascript/html'},
        {label: 'JavaScript CSS', link: '/javascript/css'},
        {label: 'JavaScript Events', link: '/javascript/events'},
      ]
    },
  }
nav
  h3=sideNavigationList[landingPage].title
  each navigation in sideNavigationList[landingPage].linkList
    if navigation.link == activeLink
      a.current(href=`${baseUrl}${navigation.link}`)=navigation.label
    else
      a(href=`${baseUrl}${navigation.link}`)=navigation.label
