extends ../_component/layout/template

block cool-config
  - 
    var myTitle = "JavaScript Can Change HTML Content"
    var myDescription = "One of many JavaScript HTML methods is getElementById()."
    var landingPage = 'JavaScript';
    var activeLink = '';

block awesome-content
  h1=myTitle
  h5=myDescription
  h2 JavaScript Can Change HTML Attribute Values
  p In this example JavaScript changes the value of the src (source) attribute of an <img> tag:
  h2 JavaScript Can Change HTML Styles (CSS)
  p Changing the style of an HTML element, is a variant of changing an HTML attribute.
  h2 JavaScript Can Hide HTML Elements
  p Hiding HTML elements can be done by changing the display style

