extends ../../_component/layout/template

block cool-config
  - 
    var myTitle = "HTML Headings"
    var myDescription = "Search engines use the headings to index the structure and content of your web pages."
    var landingPage = 'HTML';
    var activeLink = '/html/headings';

block awesome-content
  h1=myTitle
  h5=myDescription
  h2 Headings Are Important
  p Users skim your pages by its headings. It is important to use headings to show the document structure.
  h2 Bigger Headings
  p Each HTML heading has a default size. However, you can specify the size for any heading with the style attribute, using the CSS font-size property.
  h2 How to View HTML Source?
  p Right-click in an HTML page and select "View Page Source" (in Chrome) or "View Source" (in IE), or similar in other browsers. This will open a window containing the HTML source code of the page.
  h2 HTML Tag Reference
  p W3Schools' tag reference contains additional information about these tags and their attributes.
