extends _component/layout/template

block cool-config
  - 
    var myTitle = "Learn to code HTML, CSS and JavaScript"
    var myDescription = "this is and HTML replica of w3schools"
    var landingPage = 'Home';
    var activeLink = '';

block awesome-content
  h1 This is a replica of w3schools.com
  p I'll go through all possible HTML elements as well as CSS to write and produce styled HTML pages.
  h2 HTML 
  p The language for building web pages. #[a(href="/html") Check this out]
  h2 CSS
  p The languge to style web pages #[a(href="/css") See awesomeness happen]
  h2 JavaScript
  p The programming language for webpages #[a(href="/javascript") Discover the way]
